html,
body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    rgba(9, 35, 175, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
}

button {
  padding: 1rem 1.5rem;
  background: rgba(9, 35, 175, 1);
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s;
  margin: 10px 0;
  font-weight: bold;
}

button:hover {
  background: rgba(9, 35, 90, 1);
  border-color: #ecfa00;
  color: #ecfa00;
  box-shadow: 0 0 10px #ecfa00;
}
